@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply bg-neutral-900 text-white;
    height:3000vh;
  }
  .container{
    max-width: 100vw;
    overflow-x: clip;
    @apply relative top-0 left-0 px-2 md:px-5 lg:px-12;
  }
  .nav-btn::before,.hero-btn::before{
    content:'';
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg,transparent,grey);
  }
  .nav-btn::before,.hero-btn::before{
    @apply rounded-lg;
  }
  .hero h1,.title{
    background: linear-gradient(90deg,white,rgb(128, 128, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .seo-card:hover .seo-card-line-hover{
    opacity: 1;
  }
  .ranks-card:hover .ranks-card-image{
    filter: sepia(1);
  }
  .ranks-card:hover .ranks-card-paragraph{
    color:white;
  }
  .ranks-card-image{
    transition: all 0.3s ease-in-out;
  }
  .ranks-card-paragraph{
    transition: all 0.3s ease-in-out;
  }
  .publish-wave,.publish-row-2-feature-image-messages,.publish-row-3-slider{
    transform: translateX(-50%);
    animation: wave 5s linear infinite ;
  }
  .publish-row-3-slider-wrapper{
    -webkit-mask: linear-gradient(90deg,transparent,white,white,transparent);
  }
  @keyframes wave {
    to {
      transform: translateX(0%);
    }
  }
  .publish-row-2-feature-image-slider{
    transform: translateX(0%);
    animation: wave-minus 5s linear infinite ;
  }
  @keyframes wave-minus {
    to {
      transform: translateX(-100%);
    }
  }
  .publish-row-3-feature-wrapper {
    background-position-x:300px;
  }
}